#body{
    background-color: black;
    text-align: center;
    background-size: 780px 720px;
    background-image: url("keith-misner-h0Vxgz5tyXA-unsplash.jpg")
}
#headline{
    color: white;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#subhead{
    color: red;
    font-style: italic;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subh{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.but{
    border: 2px solid grey;
    cursor: pointer;
}
.but:hover{
    color:rgb(150, 37, 37);
}
.in{
    border-radius: 4px;
    border-color: grey;
}